<div class="container-page">
	<mat-card *transloco="let t; read: 'personForm'">
		<mat-card-subtitle>{{ t('subtitle') }}</mat-card-subtitle>
		<mat-card-title>
			{{ editMode ? t('titleEdit') : t('titleCreate') }}
		</mat-card-title>
		<form [formGroup]="personForm" (ngSubmit)="save()">
			<mat-card-content>
				<div class="control-group-1">
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label1') }}</mat-label>
						<input
							type="text"
							matInput
							formControlName="dui"
							maxlength="9"
							[placeholder]="t('placeholder1')" />
						<mat-icon matSuffix>badge</mat-icon>
						<mat-error
							*ngIf="control('dui').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-error
							*ngIf="control('dui').errors?.['maxlength']"
							>{{ t('common-error3', { count: 9 }) }}</mat-error
						>
						<mat-error *ngIf="control('dui').errors?.['pattern']">{{
							t('custom-error1')
						}}</mat-error>
					</mat-form-field>
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label2') }}</mat-label>
						<input
							type="text"
							matInput
							formControlName="name"
							maxlength="50"
							[placeholder]="t('placeholder2')" />
						<mat-error
							*ngIf="control('name').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-error
							*ngIf="control('name').errors?.['minlength']"
							>{{ t('common-error2', { count: 2 }) }}</mat-error
						>
						<mat-error
							*ngIf="control('name').errors?.['maxlength']"
							>{{ t('common-error3', { count: 50 }) }}</mat-error
						>
						<mat-error
							*ngIf="control('name').errors?.['pattern']"
							>{{ t('custom-error2') }}</mat-error
						>
					</mat-form-field>
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label3') }}</mat-label>
						<input
							type="text"
							matInput
							formControlName="surname"
							maxlength="50"
							[placeholder]="t('placeholder3')" />
						<mat-error
							*ngIf="control('surname').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-error
							*ngIf="control('surname').errors?.['minlength']"
							>{{ t('common-error2', { count: 2 }) }}</mat-error
						>
						<mat-error
							*ngIf="control('surname').errors?.['maxlength']"
							>{{ t('common-error3', { count: 50 }) }}</mat-error
						>
						<mat-error
							*ngIf="control('surname').errors?.['pattern']"
							>{{ t('custom-error2') }}</mat-error
						>
					</mat-form-field>
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label4') }}</mat-label>
						<input
							type="text"
							matInput
							formControlName="email"
							maxlength="100"
							[placeholder]="t('placeholder4')" />
						<mat-icon matSuffix>email</mat-icon>
						<mat-error
							*ngIf="control('email').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-error
							*ngIf="control('email').errors?.['maxlength']"
							>{{ t('common-error3', { count: 100 }) }}</mat-error
						>
						<mat-error *ngIf="control('email').errors?.['email']">{{
							t('custom-error3')
						}}</mat-error>
					</mat-form-field>
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label5') }}</mat-label>
						<input
							type="text"
							matInput
							formControlName="phone"
							maxlength="8"
							[placeholder]="t('placeholder5')" />
						<mat-icon matSuffix>call</mat-icon>
						<mat-error
							*ngIf="control('phone').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-error
							*ngIf="control('phone').errors?.['maxlength']"
							>{{ t('common-error3', { count: 8 }) }}</mat-error
						>
						<mat-error
							*ngIf="control('phone').errors?.['pattern']"
							>{{ t('custom-error4') }}</mat-error
						>
					</mat-form-field>
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label6') }}</mat-label>
						<input
							matInput
							[matDatepicker]="picker"
							formControlName="birthday"
							[max]="maxDate"
							[min]="minDate"
							readonly />
						<mat-hint>DD/MM/YYYY</mat-hint>
						<mat-error
							*ngIf="control('birthday').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
						<mat-datepicker-toggle
							matSuffix
							[for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="control-group-2">
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label7') }}</mat-label>
						<mat-select formControlName="maritalStatus">
							<mat-option
								*ngFor="let option of maritalStatusData"
								[value]="option.value">
								{{ t(option.viewStatus) }}
							</mat-option>
						</mat-select>
						<mat-error
							*ngIf="control('maritalStatus').errors?.['required']"
							>{{ t('common-error1') }}</mat-error
						>
					</mat-form-field>
					<div class="control-flex">
						<div class="label-radiobutton">{{ t('label8') }}</div>
						<div>
							<mat-radio-group
								aria-label="Select an option"
								formControlName="genre">
								<mat-radio-button value="M">{{
									t('male')
								}}</mat-radio-button>
								<mat-radio-button value="F">{{
									t('female')
								}}</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
				</div>
				<div class="control-group-3">
					<mat-form-field
						class="width-control"
						appearance="outline"
						floatLabel="always">
						<mat-label>{{ t('label9') }}</mat-label>
						<textarea
							matInput
							#inputAddress
							[placeholder]="t('placeholder6')"
							rows="4"
							maxlength="300"
							formControlName="address"></textarea>
						<mat-hint>{{ inputAddress.value.length }}/300</mat-hint>
						<mat-error
							*ngIf="control('address').errors?.['maxlength']"
							>{{ t('common-error3', { count: 300 }) }}</mat-error
						>
					</mat-form-field>
				</div>
				<mat-divider></mat-divider>
			</mat-card-content>
			<mat-card-actions>
				<button
					class="button-submit"
					type="submit"
					mat-flat-button
					color="primary"
					[disabled]="!personForm.valid">
					{{ editMode ? t('buttonEdit') : t('buttonCreate') }}
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
